<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922858947237-5l6poa73hhachqdijn2k59h1v2rb7r7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922858947237-5l6poa73hhachqdijn2k59h1v2rb7r7b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922858947237-qti9p87mlmqg195iqeqae73egnq8ok8e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuf8vxwnlpLpqiSx1C-XaXb-LL9Bg68oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>922858947237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orot.menuboss.kr.dev</string>
	<key>PROJECT_ID</key>
	<string>menuboss-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>menuboss-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922858947237:ios:abd000816b5f49bb83434c</string>
</dict>
</plist>